table, th, td {
    width: 100%;
    border: 1px solid black;
    font-weight: bolder;
}

th{
    background-color:lightgreen;
}

.medio{
    color:red;
}

#rosa{
    background-color: pink;
}

#azul{
    background-color: turquoise;
}